.slider-container {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0, 0, 52);
  border: 3px solid white;
  width: 300px;
  height: 100vh;
  transition: transform 0.3s ease;
  transform: translateX(-100%);

  //exit button div and button element styling
  .exit-btn {
    button {
      float: right;
      margin: 0 5px 0 0;
      background-color: rgb(68, 68, 142);
      border: 1px solid white;
      color: white;
      font-size: 30px;
      transform: rotate(90deg);
      cursor: pointer;
    }
  }
  //category list div and unordered list styles
  .category-list {
    margin-top: 150px;
    border: 1px solid white;
    
    ul {
      color: white;
      font-size: 25px;
      list-style: none;

      li {
        margin-top: 30px;
        cursor: pointer;
        width: fit-content;
      }
    }
  }
}

.slide-right {
  transform: translateX(0%);
}
